.center {
	display: flex;
	flex-grow: 1;
	background-color: rgba(247, 249, 255, 1);
	padding: 20px 20px 10px 40px;

	.header {
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
		align-items: flex-start;
		width: 100%;

	 * {
		 display: flex;
		 gap: 15px;
	 }

		.breadcrumbs {
			flex-flow: row nowrap;
		}
	}
}
