.center {
	display: flex;
	flex-flow: column;
	flex-grow: 1;
	row-gap: 30px;
	background-color: rgba(247, 249, 255, 1);
	padding: 20px 20px 10px 40px;

	.header {
		display: flex;
		flex-flow: row;
		justify-content: space-between;
		align-items: flex-start;

	 * {
		 display: flex;
		 gap: 5px;
	 }

		.breadcrumbs {
			flex-flow: row;
		}

		.login {

			img:first-of-type {
				margin-right: 10px;
			}
		}
	}

	button {
		white-space: nowrap;
		width: 200px;
		height: 40px;
		font-size: small;
	}

	& > button {

		&::first-letter {
			font-size: large;
			font-weight: bold;
		}
	}
}
