.left {
	display: flex;
	flex-flow: column;
	flex-shrink: 0;
	width: 270px;

	.logo {
		margin-left: 20px;
		margin-bottom: 10px;
	}

	ul {
		color: rgb(149, 149, 149);

		li {
			display: flex;
			flex-flow: row;
			align-items: flex-start;
			margin: 14px 20px 14px -6px;

			img {
				margin: -6px 16px 0 0;
			}

			p {
				white-space: nowrap;
			}

			&:nth-of-type(2), &:hover {
				font-weight: bold;
				color: black;

				&::before {
					content: "\00a0";
					background-color: rgb(101, 101, 203);
					padding: 14px 0px;
					margin: -14px 20px 0px -26px;
				}
			}
		}
	}
}
