body {
	display: flex;
	font-size: small;
}

.btn {
	border-radius: 3px;
}

.btn-secondary {
	background: rgb(177, 177, 177);
	border: 1px solid rgb(177, 177, 177);
}

.btn-success {
	background: rgb(85, 201, 123);
	border: 1px solid rgb(85, 201, 123);
}
