body {
	display: flex;
	font-size: small;
}

.btn {
	display: flex;
	justify-content: center;
	align-items: center;
	column-gap: 10px;
	border-radius: 3px;

	a {
		color: white;
		font-size: x-large;
		text-decoration: none;
	}
}

.btn-secondary {
	background: rgb(177, 177, 177);
	border: 1px solid rgb(177, 177, 177);
}

.btn-success {
	background: rgb(85, 201, 123);
	border: 1px solid rgb(85, 201, 123);
}
