.popup {
	width: 550px;
	display: flex;
	flex-flow: column;
	background: white;
	border-radius: 6px;
	padding: 5px 25px;

	.form {
		display: flex;
		justify-content: space-between;

		div {
			display: flex;
			flex-flow: column;
			gap: 15px;
			white-space: nowrap;
		}
	}
}
